/*width*/

@mobile-width: 320px;
@desktop-width: 1410px;


/*color-dg_color*/
@bg-black: #151515;
@bg-grey: #EFEFF1;




/*Color*/
@black: #1D1919;
@dark-black: #1D1D1F;
@arrow-black: #4317F3;
@white: #FBFBFD;
@grey: #86868B;
@red: #F44336;
@blue: #3A82F7;



/*Font*/
@font-family-base: "Inter", "Arial", sans-serif;
@font-size-base: 16px;
